* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    background-color: hwb(240 63% 18%);
    height: 100%;
    width: 100%;
    border: 10px solid #1D1E4C;
}

.content {
    max-width: 900px;
    margin: 0 auto;
}

.image_container img {
    width: 210px;
    height: 225px;
    border: 8px solid black;
    border-radius: 50%;
    overflow: hidden;


}

.top_section {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    align-items: flex-end;
}

.top_section h1 {
    font-size: 50px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
    text-align: end;
}

h4 {
    font-size: 30px;
    text-align: end;
}

.about_section {
    margin-top: 50px;

}

.about_section h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

.about_section p {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 1px;
}

.biography_section {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
    margin: 50px 0px;
}

.biography_section h3 {
    margin-bottom: 20px;
}

.biography_section ul {
    margin-left: 50px;
}

.biography_section li {
    margin-bottom: 15px;
}

footer {
    text-align: end;
}

footer p {
    margin: 50px 0;
}